@import './style.scss';
@import './editor.scss';

.box {
	width: 100px;
	height: 100px;
	background-color: yellow;
}

.block-library-gallery-item__move-menu,
.block-library-gallery-item__inline-menu {
	padding: 2px;
	display: flex;
	z-index: z-index(".block-library-gallery-item__inline-menu");

	.components-button {
		color: transparent;
	}
}